@import 'react-big-calendar/lib/css/react-big-calendar.css';

// St. Innocent Theme Colors
$secondary-main: #e98520;
$secondary-hover: #c36b13;

.rbc-show-more {
    color: $secondary-main;
    background-color: transparent;
    &:hover{
        color: #fff;
    }
}

.rbc-event {
    cursor: "pointer";
    font-size: .9em;
    background-color: $secondary-main;
    &:hover{
        background-color: $secondary-hover;
    }
}

.rbc-agenda-event-cell {
    &:hover{
        background-color: $secondary-hover;
    }

}
