@import 'react-big-calendar/lib/css/react-big-calendar.css';

// St. Innocent Theme Colors
$secondary-main: #9caf88;
$secondary-hover: #7d9a6b;

.rbc-show-more {
    color: $secondary-main;
    background-color: transparent;
    &:hover{
        color: #fff;
    }
}

.rbc-event {
    cursor: pointer;
    font-size: 0.8em;
    padding: 2px 4px;
    line-height: 1.3;
    background-color: $secondary-main;
    &:hover{
        background-color: $secondary-hover;
    }
}

.rbc-event-content {
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rbc-agenda-event-cell {
    &:hover{
        background-color: $secondary-hover;
    }

}
